<div class="md-inline-form">
  <md-content layout-gt-md="row" layout-padding>
    <div>
      <form name="userForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Character Name</label>
            <input ng-model="user.characterName">
          </md-input-container>
        </div>
      </form>
    </div>
  </md-content>
</div>
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Character Name</label>
      <input ng-model="user.characterName">
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <label></label>
      <input ng-model="theMax">
    </md-input-container>
  </div>

